/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "./_colors.scss";

html {
  text-align: center;
  background-image: url(../assets/confetti-bg.svg);
  background-position: top center;
}

body {
  margin: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rainbow-text {
  animation-name: rainbow-text;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  font-family: Source Sans Pro;
}

.link-delay {
  animation-delay: -10s;
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Fredoka One;
}

.emoji-lg {
  font-size: 10rem;
  margin-bottom: 3rem;
}

.title-2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.title-4 {
  line-height: 1.25;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url(../assets/confetti-header.svg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 16rem;
  padding: 5rem;
  padding-top: 10rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rainbow-text {
  0% { color: $purple; }
  20% { color: $red; }
  40% { color: $yellow; }
  60% { color: $green; }
  80% { color: $blue; }
  100% { color: $purple; }
}
