/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "./_mixins.scss";
@import "./_variables.scss";

html {
  background-image: url(../assets/confetti-bg.svg);
  background-position: top center;
  font-size: 12px;
  text-align: center;
  @include for-sm {
    font-size: 16px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-contents {
  margin: auto;
  @include for-sm {
    width: $width-sm;
  }
  @include for-md {
    width: $width-md;
  }
  @include for-lg {
    width: $width-lg;
  }
  @include for-xl {
    width: $width-xl;
  }
}

.rainbow-text {
  animation-name: rainbow-text;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  font-family: Source Sans Pro;
}

.link-delay {
  animation-delay: -10s;
  font-family: inherit;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Fredoka One;
  margin: 0;
}

.emoji-lg {
  font-size: 10rem;
}

.title-2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.title-3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.title-4 {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/confetti-header.svg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 16rem;
  padding: 5rem 2rem;
}

.content {
  padding: 7rem 1rem;
}

.content-title {
  font-size: 2.25rem;
}

.content-body {
  font-size: 1.25rem;
  @include for-sm {
    padding-left: 5rem;
  }
}

.presenters {
  height: 22.5rem;
  position: relative;
}

.speaker {
  animation-name: rainbow-border;
  animation-duration: 60s;
  animation-delay: -5s;
  animation-iteration-count: infinite;
  background: #ffffff;
  border: 2px solid $purple;
  border-radius: 5px;
  font-size: 1rem;
  height: 20rem;
  left: 50%;
  margin: 1.25rem 0.5rem;
  overflow: scroll;
  padding: 1rem;
  position: absolute;
  transform: translateX(-50%);
  width: 15rem;
}

.footer {
  background-image: url(../assets/confetti-footer.svg);
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 16rem;
  padding: 0 2rem 10rem;
}

.content,
.meetup {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rainbow-text {
  0% { color: $purple; }
  20% { color: $red; }
  40% { color: $yellow; }
  60% { color: $green; }
  80% { color: $blue; }
  100% { color: $purple; }
}

@keyframes rainbow-border {
  0% { border-color: $purple; }
  20% { border-color: $red; }
  40% { border-color: $yellow; }
  60% { border-color: $green; }
  80% { border-color: $blue; }
  100% { border-color: $purple; }
}
