/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/index.scss */
html {
  background-image: url(../assets/confetti-bg.svg);
  background-position: top center;
  font-size: 16px;
  text-align: center;
}

/* line 16, ../sass/index.scss */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22, ../sass/index.scss */
.rainbow-text {
  animation-name: rainbow-text;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  font-family: Source Sans Pro;
}

/* line 29, ../sass/index.scss */
.link-delay {
  animation-delay: -10s;
  font-family: inherit;
}

/* line 34, ../sass/index.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Fredoka One;
  margin: 0;
}

/* line 39, ../sass/index.scss */
.emoji-lg {
  font-size: 10rem;
  margin-bottom: 2rem;
}

/* line 44, ../sass/index.scss */
.title-2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

/* line 49, ../sass/index.scss */
.title-3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* line 54, ../sass/index.scss */
.title-4 {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

/* line 60, ../sass/index.scss */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/confetti-header.svg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 16rem;
  padding: 5rem 0;
}

/* line 72, ../sass/index.scss */
.App-link {
  color: #61dafb;
}

/* line 76, ../sass/index.scss */
.footer {
  padding-bottom: 10rem;
  background-image: url(../assets/confetti-footer.svg);
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 16rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rainbow-text {
  0% {
    color: #9445CA;
  }
  20% {
    color: #E63963;
  }
  40% {
    color: #FE9E16;
  }
  60% {
    color: #4FB868;
  }
  80% {
    color: #5083FC;
  }
  100% {
    color: #9445CA;
  }
}
