/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@keyframes rainbow-text {
  0% {
    color: #9445CA;
  }
  20% {
    color: #E63963;
  }
  40% {
    color: #FE9E16;
  }
  60% {
    color: #4FB868;
  }
  80% {
    color: #5083FC;
  }
  100% {
    color: #9445CA;
  }
}
@keyframes rainbow-border {
  0% {
    border-color: #9445CA;
  }
  20% {
    border-color: #E63963;
  }
  40% {
    border-color: #FE9E16;
  }
  60% {
    border-color: #4FB868;
  }
  80% {
    border-color: #5083FC;
  }
  100% {
    border-color: #9445CA;
  }
}
@keyframes tap-finger {
  0% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
/* line 27, ../sass/_animations.scss */
.rainbow-border, .headshot, .speaker-headshot, .organizer-headshot {
  animation-name: rainbow-border;
  animation-duration: 60s;
  animation-delay: -5s;
  animation-iteration-count: infinite;
}

/* line 11, ../sass/index.scss */
html {
  background-image: url(../assets/confetti-bg.svg);
  background-position: top center;
  font-size: 12px;
  text-align: center;
}
@media (min-width: 600px) {
  /* line 11, ../sass/index.scss */
  html {
    font-size: 16px;
  }
}

/* line 21, ../sass/index.scss */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/index.scss */
p:first-child {
  margin-top: 0;
}

/* line 31, ../sass/index.scss */
.bold, .speaker-name, .speaker-presentation {
  font-weight: bold;
}

/* line 35, ../sass/index.scss */
.page-contents {
  margin: auto;
}
@media (min-width: 600px) {
  /* line 35, ../sass/index.scss */
  .page-contents {
    width: 500px;
  }
}
@media (min-width: 900px) {
  /* line 35, ../sass/index.scss */
  .page-contents {
    width: 600px;
  }
}
@media (min-width: 1200px) {
  /* line 35, ../sass/index.scss */
  .page-contents {
    width: 900px;
  }
}
@media (min-width: 1800px) {
  /* line 35, ../sass/index.scss */
  .page-contents {
    width: 1200px;
  }
}

/* line 51, ../sass/index.scss */
.rainbow-text {
  animation-name: rainbow-text;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  font-family: Source Sans Pro;
}

/* line 58, ../sass/index.scss */
.link-delay {
  animation-delay: -10s;
  font-family: inherit;
  font-weight: bold;
}

/* line 64, ../sass/index.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Fredoka One;
  margin: 0;
}

/* line 69, ../sass/index.scss */
.emoji-lg {
  font-size: 10rem;
}

/* line 73, ../sass/index.scss */
.title-2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

/* line 78, ../sass/index.scss */
.title-3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* line 83, ../sass/index.scss */
.title-4 {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

/* line 89, ../sass/index.scss */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/confetti-header.svg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 16rem;
  padding: 5rem 2rem;
}

/* line 101, ../sass/index.scss */
.content {
  padding: 7rem 1rem;
}

/* line 105, ../sass/index.scss */
.content-title {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

/* line 110, ../sass/index.scss */
.content-body {
  font-size: 1.25rem;
}
@media (min-width: 600px) {
  /* line 110, ../sass/index.scss */
  .content-body {
    padding-left: 5rem;
  }
}

/* line 122, ../sass/index.scss */
.presenters {
  position: relative;
  cursor: pointer;
}

/* line 129, ../sass/index.scss */
.presenters-pointer {
  animation-name: tap-finger;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-size: 5rem;
  position: absolute;
  right: -3rem;
  top: -1rem;
  z-index: 40;
}

/* line 140, ../sass/index.scss */
.speaker {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 0;
  overflow: hidden;
  padding: 1rem;
  transition: 300ms;
}
/* line 147, ../sass/index.scss */
.speaker:nth-child(2) {
  left: 2rem;
}
/* line 150, ../sass/index.scss */
.speaker:nth-child(3) {
  left: 4rem;
  top: 2rem;
}
@media (max-width: 599px) {
  /* line 140, ../sass/index.scss */
  .speaker {
    align-items: center;
    flex-direction: column;
  }
}

/* line 160, ../sass/index.scss */
.speaker-top {
  display: flex;
}

/* line 172, ../sass/index.scss */
.headshot, .speaker-headshot, .organizer-headshot {
  border: 0.25rem solid;
  border-radius: 100%;
  margin-bottom: 2rem;
}

/* line 179, ../sass/index.scss */
.speaker-headshot {
  margin-right: 1rem;
  height: 8rem;
  width: 8rem;
}
@media (max-width: 599px) {
  /* line 179, ../sass/index.scss */
  .speaker-headshot {
    height: 12rem;
    width: 12rem;
  }
}

/* line 190, ../sass/index.scss */
.organizers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 196, ../sass/index.scss */
.organizer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: center;
  padding: 1rem;
  margin: 0.5rem;
  width: 12rem;
}
/* line 205, ../sass/index.scss */
.organizer > * {
  margin-bottom: 1rem;
}

/* line 210, ../sass/index.scss */
.organizer-headshot {
  height: 10rem;
  width: 10rem;
}

/* line 216, ../sass/index.scss */
.organizer-social-link {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 0.25rem;
}

/* line 222, ../sass/index.scss */
.organizer-emoji {
  font-size: 2.5rem;
}

/* line 226, ../sass/index.scss */
.footer {
  background-image: url(../assets/confetti-footer.svg);
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 16rem;
  padding: 0 2rem 10rem;
}

/* line 234, ../sass/index.scss */
.footer-link {
  margin: 1rem;
}

/* line 238, ../sass/index.scss */
.content,
.meetup {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
