/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/index.scss */
html {
  background-image: url(../assets/confetti-bg.svg);
  background-position: top center;
  font-size: 16px;
  text-align: center;
}

/* line 17, ../sass/index.scss */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 23, ../sass/index.scss */
.page-contents {
  margin: auto;
}
@media (min-width: 600px) {
  /* line 23, ../sass/index.scss */
  .page-contents {
    width: 500px;
  }
}
@media (min-width: 900px) {
  /* line 23, ../sass/index.scss */
  .page-contents {
    width: 600px;
  }
}
@media (min-width: 1200px) {
  /* line 23, ../sass/index.scss */
  .page-contents {
    width: 900px;
  }
}
@media (min-width: 1800px) {
  /* line 23, ../sass/index.scss */
  .page-contents {
    width: 1200px;
  }
}

/* line 39, ../sass/index.scss */
.rainbow-text {
  animation-name: rainbow-text;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  font-family: Source Sans Pro;
}

/* line 46, ../sass/index.scss */
.link-delay {
  animation-delay: -10s;
  font-family: inherit;
  font-weight: bold;
}

/* line 52, ../sass/index.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Fredoka One;
  margin: 0;
}

/* line 57, ../sass/index.scss */
.emoji-lg {
  font-size: 10rem;
  margin-bottom: 2rem;
}

/* line 62, ../sass/index.scss */
.title-2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

/* line 67, ../sass/index.scss */
.title-3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* line 72, ../sass/index.scss */
.title-4 {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

/* line 78, ../sass/index.scss */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/confetti-header.svg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 16rem;
  padding: 5rem 0;
}

/* line 90, ../sass/index.scss */
.content-title {
  font-size: 2.25rem;
}

/* line 94, ../sass/index.scss */
.content-body {
  font-size: 1.25rem;
  padding-left: 5rem;
}

/* line 99, ../sass/index.scss */
.presenters {
  display: inline-flex;
}

/* line 103, ../sass/index.scss */
.speaker {
  animation-name: rainbow-border;
  animation-duration: 60s;
  animation-delay: -5s;
  animation-iteration-count: infinite;
  border: 1px solid purple;
  padding: 1rem;
  margin: 0.5rem;
  width: 45%;
  height: 15rem;
  overflow: scroll;
  width: 10rem;
}

/* line 117, ../sass/index.scss */
.footer {
  padding-bottom: 10rem;
  background-image: url(../assets/confetti-footer.svg);
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 16rem;
}

/* line 125, ../sass/index.scss */
.content,
.meetup {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rainbow-text {
  0% {
    color: #9445CA;
  }
  20% {
    color: #E63963;
  }
  40% {
    color: #FE9E16;
  }
  60% {
    color: #4FB868;
  }
  80% {
    color: #5083FC;
  }
  100% {
    color: #9445CA;
  }
}
@keyframes rainbow-border {
  0% {
    border: 1px solid #9445CA;
  }
  20% {
    border: 1px solid #E63963;
  }
  40% {
    border: 1px solid #FE9E16;
  }
  60% {
    border: 1px solid #4FB868;
  }
  80% {
    border: 1px solid #5083FC;
  }
  100% {
    border: 1px solid #9445CA;
  }
}
